{{define "title"}}Tasks View{{end}}

{{define "main"}}

{{template "modal" .}}
{{$csrf := .CSRFToken}}
<div class="container mt-5 flex-grow-1">
  <div class="row mb-3 align-items-center">
    <div class="col-md-8">
      <h2>Tasks View</h2>
    </div>
    <div class="col-md-4 text-end">
      <a href="/workspace/{{.Workspace.ID}}/task/create" class="btn btn-primary">Create Task</a>
    </div>

    <div class="row mb-3 align-items-center">
      <!-- Search Input and Tasks per Page Selector -->
      <div class="col-md-8 d-flex align-items-center">
        <!-- Search Input -->
        <!-- <form action="/tasks_view" method="GET" class="d-flex flex-grow-1 me-3"> -->
        <!--   <input class="form-control me-2" type="search" name="query" placeholder="Search tasks" value="" -->
        <!--     aria-label="Search tasks"> -->
        <!--   <button class="btn btn-primary" type="submit">Search</button> -->
        <!-- </form> -->

        <!-- Label and Limit Selector aligned horizontally -->
        <form id="limitForm" action="/workspace/view/{{.Workspace.ID}}/tasks" method="GET"
          class="d-flex align-items-center ms-2">
          <label for="limitSelect" class="form-label me-2 mb-0">Limit:</label>
          <select class="form-select" id="limitSelect" name="limit">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          <!-- <input type="hidden" name="query" value=""> -->
        </form>
      </div>
    </div>

    <!-- Tasks table -->
    {{if .Tasks}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Task Name</th>
          <th scope="col" class="task-table-description">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created Date</th>
          <th scope="col">Due Date</th>
          <th scope="col" class="task-table-actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{range .Tasks}}
        <tr class="task-row">
          <td><a href="/task/view/{{.ID}}">{{.Title}}</a></td>
          <td class="text-truncate">{{.Content}}</td>
          <td>
            {{if eq .Priority "LOW"}}
            <span class="badge bg-success">Low</span>
            {{else if eq .Priority "MEDIUM"}}
            <span class="badge bg-warning text-dark">Medium</span>
            {{else}}
            <span class="badge bg-danger">High</span>
            {{end}}
          </td>
          <td>{{humanDate .Created}}</td>
          <td>{{humanDate .Finished}}</td>
          <!-- Tasks table actions -->
          <td class="task-table-actions">
            <div class="d-flex justify-content-between gap-0">
              <a href="/task/update/{{.ID}}" class="btn btn-sm btn-warning">Edit</a>
              <form action="/workspace/{{.WorkspaceId}}/task/delete/{{.ID}}" method="POST" class="delete-task-form">
                <input type='hidden' name='csrf_token' value='{{ $csrf }}'>
                <button type="button" class="btn btn-sm btn-danger delete-btn" data-bs-toggle="modal"
                  data-bs-target="#deleteModal" data-entity="Task">Delete</button>
              </form>
            </div>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <p>No tasks have been added...</p>
    {{end}}
  </div>
  <script src="/static/js/modal.js"></script>
  <script src="/static/js/pagination.js"></script>
</div>
{{end}}
