{{define "title"}}Tasks View{{end}}

{{define "main"}}

{{template "modal" .}}
<div class="container mt-5 flex-grow-1">
  <div class="row mb-3 align-items-center">
    <div class="col-md-8">
      <h2>Tasks View</h2>
    </div>
    <div class="col-md-4 text-end">
      <a href="/task/create" class="btn btn-primary">Create Task</a>
    </div>
    {{if .Tasks}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Task Name</th>
          <th scope="col" style="width: 50%;">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{range .Tasks}}
        <tr style="height: 60px">
          <td><a href="/task/view/{{.ID}}">{{.Title}}</a></td>
          <td class="text-truncate" style="max-width: 300px;">{{.Content}}</td>
          <td>
            {{if eq .Priority "LOW"}}
            <span class="badge bg-success">
              Low
            </span>
            {{else if eq .Priority "MEDIUM"}}
            <span class="badge bg-warning text-dark">
              Medium
            </span>
            {{else}}
            <span class="badge bg-danger">
              High
            </span>
            {{end}}
          </td>
          <td>{{humanDate .Created}}</td>
          <td>{{humanDate .Finished}}</td>
          <td>
            <a href="#" class="btn btn-sm btn-warning">Edit</a>
            <form action="/task/delete/{{.ID}}" method="POST" style="display:inline;" class="delete-task-form">
              <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteTaskModal" onclick="confirmDelete(this)">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <p>No tasks have been added...</p>
    {{end}}
  </div>
  <script src="/static/js/modal.js"></script>
  {{end}}
