{{define "title"}}Tasks View{{end}}

{{define "main"}}
<div class="container mt-5 flex-grow-1">
  <h2 class="mb-4">Tasks View</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Created Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{range .Tasks}}
      <tr>
        <td>{{.Title}}</td>
        <td>{{.Content}}</td>
        <td>{{.Priority}}</td>
        <td>{{.Created}}</td>
        <td>{{.Finished}}</td>
        <td>
          <a href="#" class="btn btn-sm btn-warning">Edit</a>
          <a href="#" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
