{{define "title"}}Workspace View{{end}}

{{define "main"}}

{{template "modal" .}}

{{$csrf := .CSRFToken}}
{{$workspace := .Workspace}}
{{$user := .User}}
<div class="container mt-5">
  {{with $workspace}}
  <div class="row mb-3">
    <div class="col-md-8">
      <h2>{{$workspace.Title}}</h2>
    </div>
    <div class="col-md-4 text-end">
      <a href="/workspace/view" class="btn btn-secondary">Back to Workspace View</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 d-flex align-items-stretch">
      <div class="card mb-3 flex-fill">
        <div class="card-body">
          <p class="card-text">{{$workspace.Description}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Created</h5>
          <p class="card-text">{{humanDate $workspace.Created}}</p>
          <div class="d-grid gap-2">
            <a href="/workspace/view/{{$workspace.ID}}/tasks?limit=10&offset=0" class="btn btn-success w-100">Add
              Tasks</a>
            <a href="/workspace/{{$workspace.ID}}/user/add" class="btn btn-success w-100">Add Users</a>
            <a href="/workspace/update/{{$workspace.ID}}" class="btn btn-primary w-100">Edit Workspace</a>
            <form action="/workspace/delete/{{$workspace.ID}}" method="POST" class="delete-task-form">
              <input type='hidden' name='csrf_token' value='{{$csrf}}'>
              <button type="button" class="btn btn-danger w-100 delete-btn" data-bs-toggle="modal"
                data-bs-target="#deleteModal" data-entity="Workspace">Delete Workspace</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  {{end}}
</div>
<script src="/static/js/modal.js"></script>
{{end}}
