{{define "title"}}Workspace View{{end}}

{{define "main"}}

{{template "modal" .}}

{{with .Workspace}}
<div class="container mt-5">
  <h2>{{.Title}}</h2>

  <div class="row">
    <div class="col-md-8 d-flex align-items-stretch">
      <div class="card mb-3 flex-fill">
        <div class="card-body">
          <p class="card-text">{{.Description}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Created</h5>
          <p class="card-text">{{humanDate .Created}}</p>
          <div class="d-grid gap-2">
            <a href="/workspace/update/{{.ID}}" class="btn btn-primary w-100">Edit Workspace</a>
            <form action="/workspace/delete/{{.ID}}" method="POST" class="delete-task-form">
              <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal"
                data-bs-target="#deleteTaskModal" onclick="confirmDelete(this, 'Workspace')">
                Delete Workspace
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/modal.js"></script>
{{end}}
{{end}}
