{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - Task Manager</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="d-flex flex-column min-vh-100">
  {{template "nav" .}}
  <main>
    {{template "main" .}}
  </main>
  <footer class="bg-light text-center text-muted py-3 mt-auto">
    Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
  </footer>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{{end}}
