{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - Task Manager</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
  <header>
    <h1><a href='/'>Task Manager</a></h1>
  </header>
  {{template "nav" .}}
  <main>
    {{template "main" .}}
  </main>
  <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{{end}}
