.table td,
.table th {
    vertical-align: middle;
}

.text-truncate {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

tr {
    height: 60px;
}

.btn-group .btn {
    width: auto;
}

.task-table-description {
    width: 50%;
}

.task-table-actions {
    text-align: center;
    width: 150px;
}

.task-row {
    height: 60px;
}

.tooltip-div {
  display: inline-block;
  position: relative;
}
